<form action="/users/<%= id %>/posts" method="post">
  <label for="post"> Post:</label>
  <input type="text" name="content" id="post">
  <button>Add post</button>
</form>
<a href="/"><button>BACK TO MENU</button></a>
