<form id="form" action="/users/<%= data._id %>/posts" method="post">
  <textarea name="content" rows="8" cols="80" placeholder="What's on your mind?"></textarea>
  <button type="submit" name="savepost">Save post</button>
</form>
