<div id="container">
  <h2>Hi @<%= username %>!</h2>

  <form action="/posts" method="POST" id="new-post">
    <label for="postText">Post</label>
    <input type="text" name="postText" maxlength="300"
      placeholder="What's going on?" >
    <button class="button blue right">Post!</button>
  </form>

  <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>
</div>
