<form id="form" action="/users/<%= userId %>/posts" method="POST">
  <label for="content">Post content</label><br>
  <textarea name="content" form="form">
    <% if (typeof(content) !== "undefined") { %>
      <%= content %>
    <% } %>
  </textarea>
  <br><br>
  <button type="submit" name="post">Create post</button>
</form>
