<!DOCTYPE html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <div class="container">

    <h2>New Post</h2>

    <form action="/users/<%= user._id %>/posts" method="POST">

      <label for="content">Write a post...</label>
      <input type="text" name="content" id="content" placeholder="Enter content here...">

      <button type="submit">Submit</button>

    </form>

    <% if (typeof(errorMessage) !== "undefined") { %>

      <div class="error-message"><%= errorMessage %></div>

    <% } %>

    <div>
      <p><a href="/signup">Return to menu</a></p>
    </div>

  </div>

</body>
