<form action="/posts/<%=user._id%>/new" method="POST">
  <label for="title">Titulo</label>
  <input type="text" name="title" id="title">
  <br>
  <br>
  <label for="content">Content</label>
  <textarea name="content" rows="3" cols="80"></textarea>
  <br>
  <br>
  <button type="submit">Submit Post</button>
  <br>
  <a href="/">Atras</a>
</form>
