body {
 /* padding: 50px;*/
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;

}
.linkedin {
  background-image: url('../images/linkedin.png');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  
}



.linkedin img{
  margin: 0 auto;
  padding:0 auto;
}



a {
  color: #00B7FF;
}


