<form action="/user/post/<%= post._id %>" method="post">
  <textarea name="post" id="" cols="50" rows="10"><%= post.content %></textarea><br>
  <button>Send</button>
</form>

<br><a href="/">Back to home</a>