<div id="container">
  <a href="/post/new">New tweet</a>
  <a href="/logout">Logout</a>

  <h2>@<%= username %> post</h2>

  <% post.forEach(function(tweet) { %>
    <div class="tweet-container">
      <p>
        <%= post.post %>
      </p>
      <p class="date">
        <%= moment(post.created_at).format("LL, LTS") %>
      </p>
    </div>
    <% }) %>
</div>
