<div id="container">
  <h2>Hi @<%= username %>!</h2>

  <form action="/post" method="POST">
    <label for="postText">Post</label>
    <input type="text" name="postText" placeholder="What's going on?">
    <button class="btn btn-primary">Post</button>
  </form>

  <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message">
      <%= errorMessage %>
    </div>
    <% } %>
</div>
