<form action="/auth/login" method="POST" id="form">
  <label for="username">Username  </label>
  <input type="text" name="username" placeholder="Type your username">

  <label for="password">Password  </label>
  <input type="password" name="password" placeholder="Type your password">
  <button>Login</button>
  <% if (typeof errorMessage !== "undefined") { %>
    <div class="error-message">
      <%= errorMessage %>
    </div>
    <% } %>



      <p class="account-message">
        Don't have an account? <a href="/auth/signup">Sign up</a>
      </p>

      <a class="auth-link" href="/users/">Ver perfiles de usuarios</a>
</form>
