<div class="login-wrapper">
  <h2>Log In</h2>
  <form method="post" action="">
    <div class="form-input">
      <label for="email">Email: </label>
      <input type="email" name="email" id="email"/>
    </div>
    <div class="form-input">
      <label for="password">Password: </label>
      <input type="password" name="password" id="password"/>
    </div>
    <div class="form-button">
      <button>Log In</button>
    </div>
</div>