<div class="container">
    <div class="row text-center">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <form class="form-signin" action="/login" method="post">
                <h2 class="form-signin-heading">Sign in</h2>
                <small class="text-muted">Connect lab-express-linkedin-clone with your favorite social network</small>
                <br>
                <br>
    
                <p>
                    <a class="btn btn-primary social-login-btn social-facebook" href="/auth/facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn btn-primary social-login-btn social-twitter" href="/auth/twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </p>
                <p>
                    <a class="btn btn-primary social-login-btn social-linkedin" href="/auth/linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a class="btn btn-primary social-login-btn social-google" href="/auth/google">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </p>
    
                <br>
    
                <small class="text-muted">Or sign in with lab-express-linkedin-clone</small>
                <br>
                <br>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input class="form-control login-input" placeholder="Email Address" type="text" name="email">
                    </div>
                    
                    <% if(typeof error != 'undefined' && error.email) { %>
                    <small class="text-danger"> <%= error.email %> </small>
                    <% } %>
                </div>
                
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-lock"></i>
                        </span>
                        <input class="form-control login-input-pass" placeholder="Password" type="password" name="password">
                    </div>
                    <% if(typeof error != 'undefined' && error.password) { %>
                    <small class="text-danger"> <%= error.password %> </small>   
                    <% } %>
                </div>
    
                <button class="btn btn-primary btn-block btn-center" type="submit">Sign in</button>
            </form>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <small class="text-muted">Dont have a lab-express-linkedin-clone or social network account?
                <p><a href="/signup"><button class="btn btn-sm btn-default"> Sign Up </button></a></p>
            </small>
        </div>
    </div>
    <% if(typeof(user) != 'undefined' && user._id) { %>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <div class="text-success">Account for username <%= user.email %> created you can Log In now!!</div>
        </div> 
    </div>
    <% } %>
</div>