<link rel='stylesheet' href='/stylesheets/style.css' />

<h2>Hello, please log in to Linkedin</h2>

<form id="form" method="post" action="/login">
  <label>Email: <input type="email" name="email"></label>
  <label>Password: <input type="password" name="password"></label>

  <input type="submit" value="Sign up">

</form>
