<form action="/auth/login" method="POST" id="form">
  <label for="email">Email</label>
  <input type="text" name="email" placeholder="me@example.com">
  <br><br>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="">
  <br>
  <% if (typeof errorMessage !== "undefined") { %>
    <div class="error-message">
      <%= errorMessage %>
    </div>
    <% } %>
      <br>
      <button>Login</button>

      <p class="account-message">
        Don't have an account? <a href="/auth/signup">Sign up</a>
      </p>
</form>
