<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title> Login </title>
</head>

<div class="login">
<form action="/login" method="POST" id="form">
  <h2>Login</h2>

  <label for="username">Name</label>
  <br>
  <input type="text" name="username" placeholder=" type your name">
  <br><br>
  <label for="password">Password</label>
  <br>
  <input type="password" name="password" placeholder=" type a password">

  <% if (typeof errorMessage !== "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>
  <br><br>
  <button>Login</button>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
    or <a href="/">Go back</a>

  </p>
</form>
</div>
