<p> <%= message ? message : '' %> </p>
<a href="/logout">
    <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-log-out"></span> Log out
    </button>
</a>