<div class="col-sm-6 col-sm-offset-3">

    <img src="https://camo.githubusercontent.com/21c3d4a8f7495c3a811b2be8f1216cc6cbef59ac/68747470733a2f2f73332d65752d776573742d312e616d617a6f6e6177732e636f6d2f69682d6d6174657269616c732f75706c6f6164732f75706c6f61645f62356261393162313663343032396464356566613034376531613132343665622e706e67" alt="" width="100%">

    <h3>Sign Up</h3>

    <form action="/signup" method="POST" >
        
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="User">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="your@Email.com">
        </div>

        <button type="submit" class="btn btn-lg btn-primary">Sign Up Now</button>
    </form>
</div>