<h1>Your have been connected successfully</h1>

<div>
  <a href="/profile/<%=email%>/edit" class="btn btn-success">Edit profile</a>

</div>
<div>
  <a href="/profile/<%=_id%>" class="btn btn-default">My profile</a>

</div>
<div>
  <a href="/auth/logout" class="btn btn-danger">log out</a>

</div>

<a href="/" class="btn btn-default">go back to index</a>