<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <h2>Sign Up</h2>
  <form id="form" action="/signup" method="POST">
    <label for="name">Name</label><br>
    <input type="text" name="name"
      placeholder="Luke Skywalker">

    <br><br>
    <label for="email">Email</label><br>
    <input type="text" name="email"
      placeholder="anewhope@thealliance.es">
    <br><br>

    <label for="password">Password</label><br>
    <input type="password" name="password"
      placeholder="Tauntaun">
    <br><br>

    <label for="summary">Summary</label><br>
    <input type="text-box" name="summary"
      placeholder="The last Jedi... son of Anakin Skywalker and Padmé Amidala">
    <br><br>

    <label for="company">Company</label><br>
    <input type="text" name="company"
      placeholder="The Rebel Alliance">
    <br><br>

    <label for="jobTitle">Job Title</label><br>
    <input type="text" name="jobTitle"
      placeholder="The Last Jedi">
    <br><br>

    <label for="imageUrl">Profile Picture</label><br>
    <input type="file" name="imageUrl" placeholder="Photo">
    <br><br>

    <% if (typeof(errorMessage) != "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
      <% } %>
    <button>Create account</button>

  </form>
</body>
</html>
