<h2>Signup</h2>

<% if (typeof(errorMessage) !== "undefined") { %>
  <div class="error-message"><%= errorMessage %></div>
<% } %>

<form action="/signup" method="POST" id="form-container">
  <label for="name">Name</label>
  <input type="text" name="name"
    placeholder="AlbertoRivera">
  <br><br>
  <label for="email">Email</label>
  <input type="text" name="email"
    placeholder="arivera@gmail.com">
  <br><br>
  <label for="password">Password</label>
  <input type="password" name="password"
    placeholder="Your password">
  <br><br>
  <button>Create account</button>
</form>

<p class="account-message">
  Do you already have an account? <a href="/login">Login</a>
</p>
