<h2>Signup</h2>


<form action="/auth/signup" method="POST" >
  <div class="field">
    <label for="username"> Username </label>
    <input type="text" name="username" id="username">
  </div>
  <div class="field">
    <label for="password"> password </label>
    <input type="password" name="password" id="password">
  </div>
  <div class="field">  
    <label for="email"> email </label>
    <input type="text" name="email" id="email">
  </div>
  <div class="field">
    <label for="summary"> summary </label>
    <input type="text" name="summary" id="summary">
  </div>
  <div class="field">
    <label for="imageUrl"> imageUrl </label>
    <input type="text" name="imageUrl" id="imageUrl">
  </div>
  <div class="field">
    <label for="company"> company </label>
    <input type="text" name="company" id="company">
  </div>
  <div class="field">
    <label for="jobTitle"> jobTitle </label>
    <input type="text" name="jobTitle" id="jobTitle">
  </div>
  <div class="field control">
    <button class="btn submit">Signup</button>
    
  </div>
</form>

<a href="/auth/login">Already have an account? Login here</a>
