<h2>Signup</h2>
<form action="/auth/signup" method="POST" id="form-container">
  <label for="username">Username</label>
  <input type="text" name="username" placeholder="Yout name">
  <br><br>
  <label for="password">Password</label>
  <input type="password" name="password" placeholder="Your password">
  <br><br>
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="example@example.com">
  <br><br>
  <label for="summary">Summary</label>
  <textarea name="summary" placeholder="Your summary"></textarea>
  <br><br>
  <label for="imageUrl">Add Image Url</label>
  <input type="text" name="imageUrl" placeholder="http://www.myimages.com/image_32123">
  <br><br>
  <label for="company">Company</label>
  <input type="text" name="company" placeholder="Hooli">
  <br><br>
  <label for="jobTitle">Your Job</label>
  <input type="text" name="jobTitle" placeholder="Account manager">
  <br><br>
  <button>Create account</button>

  <% if (typeof(errorMessage) !== "undefined") { %>
    <div class="error-message">
      <%= errorMessage %>
    </div>
    <% } %>
    <% if (typeof(successMessage) !== "undefined") { %>
      <div class="error-message">
        <%= successMessage %>
      </div>
      <% } %>

</form>
<div><a href="/">Go homepage</a>
</div>
