<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label>Username
  	<input type="text" name="username" placeholder="Your name"></label>
  <br><br>
  <label>Email
  	<input type="email" name="email" placeholder="Your email@email"></label>
  <br><br>
  <label>Password
  	<input type="password" name="password" placeholder="Your password"></label>
  <br><br>
  <label>Summary
  	<input type="textarea" name="summary" placeholder="Your summary: where you have worked, how many years..."></label>
  <br><br>
  <label>Image
  	<input type="text" name="imageUrl" placeholder="Your image url"></label>
  <br><br>
  <label>Company
  	<input type="text" name="company" placeholder="Your current company"></label>
  <br><br>
  <label>Job title
  	<input type="text" name="jobTitle" placeholder="Your current job title"></label>
  <br><br>
  <button>Create account</button>
</form>