<!DOCTYPE html>
<html>
 <head>
   <title>Basic Auth</title>
   <link rel='stylesheet' href='stylesheets/style.css' />
 </head>
 <body>
   
 <form action="/auth/signup" method="POST" id="form" >
 <h2>SIGN UP</h2>
   <label for="name">Name</label>
   <input type="text" id="name" name="name">

   <label for="password">Password</label>
   <input type="password" id="password" name="password">

   <label for="username">Username</label>
   <input type="text" id="username" name="username">

   <label for="email">Email</label>
   <input type="e-mail" id="email" name="email">
 
     
 <% if (typeof(errorMessage) != "undefined") { %>
   <div class="error-message"> <%= errorMessage %> </div>
 <% } %>

   <button type="submit">Create Account</button>
 </form>

 </body>
</html>
