<form id="form" action="/signup" method="POST">
    <div>
        <label for="username">Username</label>
        <br>
        <input type="text" id="username" name="username" placeholder="username">
    </div>

    <div>
        <label for="password">Password</label>
        <br>
        <input type="password" id="password" name="password" placeholder="password">
    </div>

    <div>
        <label for="name">Name</label>
        <br>
        <input type="text" id="name" name="name" placeholder="name">
    </div>

    <div>
        <label for="summary">Summary</label>
        <br>
        <textarea type="text" id="summary" name="summary"></textarea>
    </div>

    <div>
        <label for="image-url">Image URL</label>
        <br>
        <input type="text" id="image-url" name="imageUrl" placeholder="image">
    </div>

    <div>
        <label for="company">Company</label>
        <br>
        <input type="text" id="company" name="company" placeholder="company">
    </div>

    <div>
        <label for="job-title">Job Title</label>
        <br>
        <input type="text" id="job-title" name="jobTitle" placeholder="jobTitle">
    </div>

    <button type="submit">Create account</button>
</form>