<h2>Signup</h2>

<form action="/signup" method="POST" >
  <div class="field">
    <label for="username"> Username </label>
    <input type="text" name="username" id="username">
  </div>
  <div class="field">
    <label for="password"> password </label>
    <input type="password" name="password" id="password">
  </div>
  <div class="field">
    <label for="password"> name </label>
    <input type="name" name="name" id="name">
  </div>
  <div class="field">
    <label for="email"> email </label>
    <input type="email" name="email" id="email">
  </div>
  <div class="field">
    <label for="summary"> summary </label>
    <input type="summary" name="summary" id="summary">
  </div>
  <div class="field">
    <label for="imageUrl"> imageUrl </label>
    <input type="imageUrl" name="imageUrl" id="imageUrl">
  </div>
  <div class="field">
    <label for="company"> company </label>
    <input type="company" name="company" id="company">
  </div>
  <div class="field">
    <label for="jobTitle"> jobTitle </label>
    <input type="jobTitle" name="jobTitle" id="jobTitle">
  </div>
  <div class="field control">
    <button class="btn submit">Signup</button>
    <% if (typeof message !== 'undefined') { %>
      <p class="error"><%= message %></p>
    <% } %>
  </div>
</form>

<a href="/login">Already have an account? Login here</a>
<a href="/">Go Back</a>