<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <img id="logo-img" src="images/linkedin-logo-copy.png" alt="LinkeIn logo">
            <p class="lead">Lorem ipsum dolor sit amet, ad has nullam adversarium ullamcorper. Sit fuisset imperdiet at, reque errem id pri, esse minim eum te. Ea est augue nostrud</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>
        </div>

      </div>

    </div>
