<label for="email">E-mail</label>
<input type="email" name="email" placeholder="E-mail" value="<%=user.email%>">
<label for="company">Company</label>
<input type="text" name="company" placeholder="Company" value="<%=user.company%>">
<label for="jobTitle">Job Title</label>
<input type="text" name="jobTitle" placeholder=Job Title " value=<%=user.jobTitle%>">
<a href="/profile/update"></a>