<h1><%= title %></h1>
<h1><%= user %></h1>



name - User's name
email - User's email
password - Encrypted password with BCrypt
summary - User's summary: where he has worked, how many years...
imageUrl - Upload your user profile picture to imgur and use the public link to show the image in our LinkedIn
company - User's current company
jobTitle - User's current Job Title
