<% if (typeof(session) != 'undefined') { %>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <strong> @<%= session.name %></strong>
                </div>

            </div>
        </div>
    </div>
<% } %>
<p>hola</p>
