<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Log in</title>
  <script src="/javascripts/zxcvbn.js">
</script> 
</head>
<form action="/users/<%=userId %>/posts" method="POST" id="form">
  <h2>New post</h2>
  <input type="text" name="post">
    <button>Save post</button>


  </form>
</body>
</html>