<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <% if (typeof(posts) !== 'undefined') { %>
            <% posts.forEach((post) => { %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p><a href="/profile/<%= post._creator %>"><strong>@<%= session.email %></strong></a> 
                        <p><%= post.content %></p>
                        <p><a href="/users/<%= post._id %>/posts" class="btn btn-danger">Modify</a></p>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div>
</div>