<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="stylesheets/libs/bootstrap.min.css">
	<script src="javascripts/libs/jquery-3.2.1.min.js"></script>
  <script src="javascripts/libs/bootstrap.min.js"></script>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.min.css' />
</head>

<body>
  <%- body %>
</body>

</html>
