<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>auth</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>
  <body>
<%- body %>
  
  </body>
</html>