<!DOCTYPE html>
<html>
  <head>
    <title>Linked In Clone</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LinkedIn Clone</h1>
    <p>Welcome Linked In Clone</p>
    <a href="/signup">Sign Up</a>
    <a href="/signin">Sign Up</a>

  </body>
</html>
