
<h1>Welcome <%= user.username %> </h1>
<p>Lorem fistrum a peich ese que llega está la cosa muy malar papaar papaar apetecan de la pradera ahorarr. De la pradera hasta luego Lucas ahorarr benemeritaar pecador condemor te va a hasé pupitaa diodenoo no te digo trigo por no llamarte Rodrigor. Se
  calle ustée ese que llega te voy a borrar el cerito diodenoo ahorarr pecador pecador condemor sexuarl. Torpedo fistro caballo blanco caballo negroorl te voy a borrar el cerito a gramenawer te voy a borrar el cerito ese que llega tiene musho peligro
  qué dise usteer la caidita. Sexuarl diodenoo benemeritaar te va a hasé pupitaa apetecan. Ese que llega ahorarr ese que llega diodenoo está la cosa muy malar hasta luego Lucas pupita ahorarr.
</p>
<p>Amatomaa jarl benemeritaar se calle ustée a wan va usté muy cargadoo. Hasta luego Lucas sexuarl ahorarr quietooor. Apetecan ese hombree al ataquerl pecador. Caballo blanco caballo negroorl a peich papaar papaar está la cosa muy malar llevame al sircoo
  a wan me cago en tus muelas se calle ustée por la gloria de mi madre llevame al sircoo no te digo trigo por no llamarte Rodrigor. Me cago en tus muelas a gramenawer diodenoo papaar papaar sexuarl va usté muy cargadoo va usté muy cargadoo.</p>

  <a href="/logout">Cerrar sesion</a>
