<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome <%= name %></h1>
    <a href="/users/<%-id%>/posts"<button>Add new post</a><br>
    <a href="/profile/<%-id%>/edit"<button>Edit my profile</button></a><br>
    <a href="/profile/<%-id%>"<button>Look my profile</button></a>
  </body>
  <a href="/logout"><button>Logout</button></a>
</html>
