<h1>Estoy en mi cuenta logueado</h1>

<div id="container">
  <a href="/signup">Sign up</a>
  <a href="/login">Login</a>
  <a href="/secret">Protected page (requires authentication)</a>
</div>

<a href="/logout">Logout</a>
