
<h2>Linkedin Basic Home</h2>
    
<% if(user){ %>
  <h2>Hola <%=  user.username %></h2>
  <a href="/logout">Logout</a>
  <a href="/private">Private area</a>

<% } else {%>  
    <a href="/signup">SignUp</a>
    <a href="/login">Login</a>
   
    <% } %>