<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- If user is logged in -->
    <% if (user){ %>
    <p>Welcome to linkedin, <%= user.name %><p>
    <a href="/profile/show/<%= user._id %>">View profile</a> - <a href="/logout">Logout</a>
    </div>

    <!-- Otherwise -->
    <% } else { %>
      <a href="/login">Login</a> - <a href="/signup">Sign up</a>
    <% } %>
  </body>
</html>
