<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>Hello</h1>

    <p><a href="/auth/signup">Sign up</a></p>
    <p>Already have an account? <a href="/auth/login">Log in</a></p>
</body>

</html>
