<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Linkedin Home</title>
</head>
<body>
  <div id="container">
  <h2>You are in a session!</h2>
    <div class="welcome message"><%= welcomemessage %></div>
    <a href="/logout">Logout</a>
    <a href="/profile/:userId/edit">Edit Profile</a>
    <label for="userSearch">Look to a user Profile</label>
    <input type="text" name="userSearch" placeholder="User To Search">
    <button>Search</button>

</div>
</div>
</body>
</html>
