<h3>Welcome <%= newUser.name %></h3>

<h4><a href="/profiles/<%= newUser._id %>/edit">View My Profile</a></h4>

<h4><a href="/user/<%= newUser[0]._id %>/posts/new">Create New Post</a></h4>


<a href="/authentication/logout">Log Out</a>