
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>Do you have an account? <a href="/signup">Sign Up Here!</a> </p>

    <p>You have an account <a href="/login">Login here</a></p> 

