<!DOCTYPE html>
<html>
  <head>
    <title>My LI page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>

    <p>Welcome</p>
    <ul>
      <li><a href="/signup">Create an account on Linkedin</a></li>
      <li><a href="/login">Log in</a></li>
    <ul>
  </body>
</html>
