<!DOCTYPE html>
<html>
  <head>
    <title>LinkedIn</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="https://tettra.co/wp-content/logos/linkedin.png"
         class="header-logo">
    <p>Welcome to LinkedIn! Select an option below to get started.</p>
    <a href="/signup">Sign up for an account</a>
    <a href="/login">Log in</a>
  </body>
</html>
