<!DOCTYPE html>
<html>
  <head>
    <title>LinkedIn</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LinkedIn</h1>
    <p>Welcome, we don´t know you yet</p>

    <a href="/login">Login</a>
  </body>
</html>
