<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <li><a href="/signup">SignUp</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/logout">Logout</a></li>
  </body>
</html>
