<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="https://camo.githubusercontent.com/21c3d4a8f7495c3a811b2be8f1216cc6cbef59ac/68747470733a2f2f73332d65752d776573742d312e616d617a6f6e6177732e636f6d2f69682d6d6174657269616c732f75706c6f6164732f75706c6f61645f62356261393162313663343032396464356566613034376531613132343665622e706e67" alt="" width="30%">
    <br>
    <br>
    <a href="/login" class="btn btn-primary">Log In</a>
    <br>
    <br>
    <a href="/signup" class="btn btn-primary">Sign Up</a>
  </body>
</html>
