<h1>
  Home Linkedin</h1>
<p>prueba</p>

user: <%= user %>

<% if(user){ %>
  <h2>
    Hola @<%= user.username %>
  </h2>
  <a href="/">Logout</a>
  <a href="/profiles/show">PRIVATE PAGE</a>
<% } else {%>
    <a href="/auth/signup">SignUp</a>
    <a href="/auth/login">Login</a>
<% } %>