<!DOCTYPE html>
<html>
  <head>
    <title>LinkedIn</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to LinkedIn</h1>
    <p>Please <a href="/logIn">log in</a> or <a href="/register">register</a> to use the LinkedIn Network.</p>

  </body>
</html>
