<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <button><a href="/signup">Create an account</a></button>
    <button><a href="/login">Login here!</a></button>

  </body>
</html>
