<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%= title %>!</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/2000px-LinkedIn_Logo.svg.png" height=130px>
    <div>
      <a href="/authentication/signup">Sign up!</a>
      <p>or</p>
      <a href="/authentication/login">Log in</a>
    </div>
  </body>
</html>
