<!DOCTYPE html>
<html>
  <head>
    <title>Ironhack Linkedin</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="container">
      <h1>Ironhack Linkedin</h1>
      <br><br>
        <a href="/signup">Sign up</a>
        <br><br>
        <a href="/login">Login</a>
    </div>
  </body>
</html>