<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to LinkedIn</h1>
      <a href="/signup"><p>Sign up</p></a>
      <a href="/login"><p>Login</p></a>
    </div>
  </body>
</html>
