
    <h3>Welcome <%= user.username %></h3>
    <div>
      <% posts.forEach(post => { %>
        <h2><%= post.username %></h2>
        <p><%= post.content %></p>
      <% }); %>
      <a href="/profile/<%= user._id %>">Show profile</a>
      <a href="/logout">Log out</a>
    </div>
