<!DOCTYPE html>
<html>
  <head>
    <title>Linked In Clone</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Linked In</h1>
    <%- body %>
  </body>
</html>