<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <form action="/auth/login" method="POST" id="form">
      <label for="username">Username</label><br>
        <input type="text" name="username" placeholder="username">
        <br>
     <label for="password">Password</label><br>
       <input type="password" name="password" placeholder="password">
       <br>
    <% if (typeof errorMessage !== "undefined") { %>
      <div class="error-message"><%= errorMessage %></div>
    <% } %>

    <button>Sign in</button>

  <p class="account-message">
    Don't have an account? <a href="/auth/signup">Sign up</a>
  </p>
</form>
  </body>
</html>
