<h3 style="color:tomato"><%=errorlogin%></h3>

  <h2>Log in</h2>
  
  <form action="/signup" method="POST" id="form-container">

    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password"
      placeholder="Your password:">

    <button>Log in</button>
  </form>