<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>LinkedIn</h1>
    <p>Welcome to LinkedIn</p>
  </body>
</html>
