<h1>Sign Up Here</h1>

<form action="/signup" method="POST">
  <input type="text" placeholder="name" name="username">
  <input type="password" placeholder="password" name="password">
  <input type="submit">
</form>

<a href = "http://localhost:3000/login">Already a member? Click here to log in</a>