<form action="/signup" method="POST" id="form">
  <h2>Sign up</h2>

  <label for="name">Name</label>
  <input type="text" name="name" placeholder="your name">

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="your username">

  <label for="email">email</label>
  <input type="text" name="email" placeholder="your email">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="your password">
  <button>Sign up</button>
</form>
