<form action="/signup" method="POST" id="form">
  <h2>Sign up</h2>

  <label for="username">Username</label>
  <input type="text" name="username" placeholder="your name">

  <label for="password">Password</label>
  <input type="password" name="password" placeholder="your password">

  <button>Sign up</button>
</form>
