<a href="/">Back to home</a>

<form id="form" action="/singup" method="POST">
  <label for="username">Username</label><br>
  <input type="text" name="username"
    placeholder="AnakinSkywalker">

  <br><br>
  <label for="password">Password</label><br>
  <input type="password" name="password"
    placeholder="DeathStar">
  <br><br>

  <label for="name">Name</label><br>
  <input type="text" name="name"
    placeholder="ODORRRR">
  <br><br>

  <label for="email">Email</label><br>
  <input type="text" name="email"
    placeholder="odor@odor.com">
  <br><br>

  <label for="summary">Summary</label><br>
  <input type="text" name="summary"
    placeholder="Hoy llueve">
  <br><br>

  <label for="company">Company</label><br>
  <input type="text" name="company"
    placeholder="parque jurasico">
  <br><br>

  <label for="jobTitle">Jobs</label><br>
  <input type="text" name="jobTitle"
    placeholder="cazador de moscas">
  <br><br>

  <% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>

  <button type="submit">Create account</button>
</form>
