<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to your personal profile</h1>
    <p>You are logged in now.</p>
    <a href="/logout">Logout</a>
  </body>
</html>
