
<h2>Editing <%= user.name %></h2>

<form action="/signup" method="POST" >
  <div class="field">
    <label for="username"> Username </label>
    <input type="text" name="username" id="username">
  </div>
  <div class="field">
    <label for="name"> Name </label>
    <input type="text" name="name" id="name">
  </div>
  <div class="field">
    <label for="email"> E-Mail </label>
    <input type="text" name="email" id="email">
  </div>
  <div class="field">
    <label for="password"> password </label>
    <input type="password" name="password" id="password">
  </div>
  <div class="field">
    <label for="summary"> summary </label>
    <input type="text" name="summary" id="summary">
  </div>
  <div class="field">
    <label for="imageUrl"> Image </label>
    <input type="text" name="imageUrl" id="imageUrl">
  </div>
  <div class="field">
    <label for="company"> company </label>
    <input type="text" name="company" id="company">
  </div>
  <div class="field">
    <label for="jobTitle"> jobTitle </label>
    <input type="text" name="jobTitle" id="jobTitle">
  </div>
  <div class="field control">
    <button class="btn submit">Login</button>
    <% if (typeof message !== 'undefined') { %>
      <p class="error"><%= message %></p>
    <% } %>
  </div>
</form>

<a href="/">Back to Celebrity Inventory</a>