  <h1> UN MUNDO DE FANTASIA</h1>
  <h2>estos son los usuarios guapetones</h2>

  <% for (i=0 ; i<users.length ; i++) {%>
    <p><%= users[i].name %></p>
  <% } %>

  <h2>Visita tu perfil</h2>
  <a href="/itsme/:id%>"> soy yo, soy yo</a>
  <br><br>

  <h2>o... cambia tu perfil para resultar mas atractivo</h2>
  <a href="/editprofile/:id%>">quiero cambiar</a>
  <br><br>

  <a href="/logout">Logout</a>
