
<div>
  <% if(public) { %>
    MODO PUBLICO
  <%} else {%>
    MODO PRIVADO
    <% } %>
<h2> <%= name %> </h2>
  <%= jobTitle %>
  <%= company %>
    <img src="<%= imageUrl %>"

</div>
<a href="/"><button>BACK TO MENU</button></a>
