<h1>Ui ui ui, pero que tenemos aqui</h1>

<p> <%= yomismo.username %> </p>
  <p><%= yomismo.password %></p>
  <p><%= yomismo.name %></p>
  <p><%= yomismo.email %></p>

  <a href="/editprofile/:id%>">quiero seguir cambiando</a>

  <br><br>
    <a href="/profile">Go back</a>

    <br><br>

    <a href="/logout">Logout</a>
