<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="timeline">
  <% if (timeline.length > 0) { %>
    <% timeline.forEach(function(e) { %>
      <div class="tweet-container">
        <p><%= e.tweet %></p>
        <p class="date">
          <span>
            <a href="/profile/<%= e.user_name %>">
              @<%= e.user_name %>
            </a>
          </span><br>
          <%= moment(e.created_at).format("LL, LTS") %>
        </p>
      </div>
    <% }) %>
  <% } else { %>
    <div class="tweet-container no-tweets">
      <p>The timeline is empty</p>
    </div>
  <% } %>
</div>
</body>
</html>
