<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Linkedin app</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <nav>
    <li><a href="/">Main</a></li>
    <li><a href="/signup">Sign up</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/allprofiles">View profiles</a></li>
    <li><a href="/logout">Logout</a></li>
  </nav>
  <%- body -%>
</html>
