<!DOCTYPE html>
<html>
  <head>
    <title>new linkedin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div id="site-main" class="container">
      <%- body %>
    </div>
  </body>
</html>
