<!DOCTYPE html>
<html lang="en">
<head>
  <title>LinkedIn</title>
  <link rel="stylesheet" href='/stylesheets/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
  <img src="/images/logo.png" width="400px" id="logomain">
  <div class="mainbody">
    <%- body %>
  </div>
</body>
</html>
