<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LINKEDIN </title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>

    <div class="linkedin">

            <%- body -%> <!-- <=== note this line -->

    </div>
  
  </body>
</html>