<!DOCTYPE html>
<html>
  <head>
    <title>LinkedIn</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>Header</header>
    <div class="main-wrapper">
      <%- body %>
    </div>
    <footer>©</footer>
  </body>
</html>