<!DOCTYPE html>
<html lang="en">
<head>

  <title>Ironhack LinkedIn</title>
</head>
<body>
  <div id="container">
    <img src="/images/linkedin-logo.png" height="200"
         class="header-logo">

    <%- body %>
  </div>
</body>
</html>
