<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Linked In</title>
</head>
<body>
  <div id="container">
    <%- body %>
  </div>
</body>
</html>
