<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <div id='container'>
    <div class="header">
    <img class='logo' src="/img/logo.png">
    <h2><%=title%></h2>
  </div>
    <%-body%>
  </div>
</body>

</html>
