<!DOCTYPE html>
	<html lang="en">
	<head>
	  <title>Ironhack LinkedIn</title>
	  <link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
	  <div id="container">

	    <%- body %>
	  </div>
	</body>
</html>