<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Si sale este título es que funciona el main layout</title>
  </head>
  <body>
    Si sale este título es que funciona el main layout
    <%- body %>
  </body>
</html>
