<!DOCTYPE html>
<html lang="en">
<head>

  <title>Linkedin</title>
</head>
<body>
  <div id="container">
    <img src="/images/linkedin-logo.png" height="100"
         class="header-logo">

    <%- body %>
  </div>
</body>
</html>
