<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LinkedIn Daily Exercise</title>
</head>
<body>
    <%- body %>
    <footer id="site-footer">
        <p>&copy; 2018 Ironhack</p>
    </footer>
</body>
</html>