<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LinkedIn Clone</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
  <header>
    <a href="/">Home</a>
    <a href="/list">Users list</a>
  </header>
  <main>
      <%- body -%>
  </main>
  </body>
</html>
