
  <div class="container">
    <form class="form-signin" action="/users/<%= user._id %>/posts" method="post">
      <h2 class="form-signin-heading">Create a new Post</h2>
      <label for="inputPost" class="sr-only">Blog Post</label>
      <input type="text" id="inputPost" name="content" class="form-control" placeholder="Post" autofocus>
      <div class="checkbox">
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create a new Post!</button>
    </form>


  </div>