<% if (typeof(errorMessage) != "undefined") { %>
    <div class="error-message"><%= errorMessage %></div>
  <% } %>
  <form id="form" action="/signup" method="POST">
    <label for="email">E-mail</label>
    <br>
    <input type="email" name="email" placeholder="email">
    <br>
    <label for="username">Username</label>
    <br>
    <input type="text" name="username" placeholder="usename">
    <br>
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <br>
    <button>Create account</button>
  </form>
  
  <a href="/">GO HOME!</a>