<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ironhack Linkedin</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="container">
    <div class="center">
    <img src="/images/linkedin.jpg">
</div>
    <%- body %>
  </div>
</body>
</html>
