
    <form action="/authentication/login" method="POST">
        <h2>Please Log In</h2>
        <h3> <%=logError%></h3>
        <input id="username" name="username" type="text" placeholder="Username" required>
    
        <input id="password" name="password" type="password" placeholder="Your Password" required>
    
        <button type="submit">Submit</button>
        <br>
        <a href="/authentication/signUp" >Not a member yet? Sign up</a>
        </form>
