<h2>Login</h2>
<form action="/login" method="post">
  <label for="email">Email: </label>
  <input type="text" id="email" name="email" placeholder="">
  <label for="password">Password: </label>
  <input type="text" id="password" name="password" value="" placeholder="">
  <button type="button" name="button">Log in</button>
</form>
<p>Don't have an account? <a href="/signup">Sign up</a></p>
