<form id="form" action="/auth/login" method="POST">
    <div class='field'>
        <label for="username">Username</label><br>
        <input type="text" name="username"
        placeholder="YourUser">
    </div>
    <br>
    <div class='field'>
        <label for="password">Password</label><br>
        <input type="password" name="password"
        placeholder="YourPassword">
    </div>
    <br>
    <div class='field'>
        <button>Log In</button>
        <% if (typeof message !== 'undefined') { %>
            <p class="error"><%= message %></p>
        <% } %>
    </div>      