<h2> Signup </h2>

<form method="post" action="/"> 

    <div>
+   <label for="username">username: </label>
+   <input type="text" name="name" id="username" />
    </div> 


    <div>
    <label for="password">password: </label>
    <input type="text" name="password" id="password"/>
    </div>

    <div>
    <button>login</button>
    </div>
</form>