<h3 style="color:tomato"><%=errorMessage%></h3>



  <h2>Signup in the biggest job network of the world</h2>
  
  <form action="/signup" method="POST" id="form-container">
    <input type="text" name="name" placeholder="Name:">

    <input type="text" name="username" placeholder="Username:">

    <input type="text" name="email" placeholder="Email:">
   
    <input type="password" name="password"
      placeholder="Your password:">

    <input type="password" name="password2"
    placeholder="Your  password again:">

    <button>Create account</button>
  </form>