<h1> Signup </h1>

<form action="/authentication/signup" method="POST"> 
    <div>
        <label for="name"> Enter your name </label>
        <input type="name" name="name" id="name">
    </div>
    <div>
        <label for="username"> Username </label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password"> Password </label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <label for="mail"> Mail </label>
        <input type="text" name="mail" id="mail">
    </div>
    <div>
        <button> Signup </button>
        <% if (typeof message !== 'undefined') { %>
            <p> <%= message %></p>
        <% } %>
    </div>
</form>

<a href="/authentication/login"> Already have an account? Login here</a>