<form action="/signup" method="post">
  <label for="username"></label>
  <input type="text" id="username" name="username">

  <label for="password"></label>
  <input type="text" id="password" name="password">

  <label for="name"></label>
  <input type="text" id="name" name="name">

  <label for="email"></label>
  <input type="text" id="email" name="email">
  
  <button> Create user</button>
</form>
