<h2>Signup</h2>

<form action="/signup" method="POST" id="form-container">
  <label for="email">Email</label>
  <input type="text" name="email"
    placeholder="Your e-mail">
  <br><br>
  <label for="password">Password</label>
  <input type="password" name="password"
    placeholder="Your password">
  <br><br>
  <button>Create account</button>
</form>
