<h2> Signup </h2>

<form action = "/signup" method="post" id="form-container"> 
    <div>
+   <label for="username">username: </label>
+   <input type="text" name="name" id="username" />
    </div> 


    <div>
    <label for="password">password: </label>
    <input type="text" name="password" id="password"/>
    </div>

    <div>
    <button>sign up</button>
    </div>
</form>

